body{
		font-size: small;
		font-family:  Verdana, Helvetica, Arial, sans-sherif;
		line-height:1.6em;
}

h1,h2{
		color:#007e7e;
}

h1{
	font-size:150%;
}

h2{
	font-size:130%;
}

#garantia{
		background:#a7cece url(images/background.gif) no-repeat;
		border: 1px white dashed;
		
		padding: 25px 25px 25px 80px;

		margin: 30px 250px 30px 30px;

		line-height: 1.9em;
		font-style: italic;
		color: #444444;
		font-family: : Georgia, “Times New Roman”, Times, sans-sherif;
		Background-position: top-left;

}
@media screen and (max-width: 480px) {
	#garantia{
		background-color:white;
		background-image:none;
		padding:none;
		border-color:green;
	}
}

#elixirs{
	border: thin solid #007e7e;
	width:200px;
	padding: 0px 20px 20px 20px;
	
	
	margin-left:20px;
	
	text-align:center;
	background: white url(images/cocktail.gif) repeat-x;
	
	line-height:1;
	
}

#elixirs h2{
	color:black;
}

#elixirs h3{
	color:#d12c47
}
a:link{
		color:green;
}
a:visited{
		color:red;
}
a:hover{
		color:yellow;
}
.cd{
	font-style: italic;
}
.artist{
		font-weight: bold;
}
#elixirs a:link{
				color:#007e7e;
}
#elixirs a:visited{
				color:#333333;
}
#elixirs a:hover{
				background: #f88396;
				color: #0d5353;
				background-color:red;
}
a:hover span{
			display:none;
			
}